/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between title and nav links */
    padding: 10px 5px; /* Padding around navbar */
    position: fixed; /* Fix navbar at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it appears above other content */
    background: rgba(51, 51, 51, 0.7); /* Semi-transparent background for blur effect */
    backdrop-filter: blur(10px); /* Apply blur effect */
    top: 0; /* Ensure navbar is at the very top */
    margin: 0; /* Remove any default margin */
}

.navbar-title {
    color: white; /* Color for the navbar title */
    margin: 0; /* Remove default margin */
}

.nav-links {
    list-style: none; /* Remove bullet points from list */
    display: flex; /* Display items in a row */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    justify-content: center; /* Center the nav links */
    flex-grow: 1; /* Allow nav links to grow and take available space */
}

.nav-links li {
    margin: 0 15px; /* Spacing between nav items */
}

.nav-links li:last-child {
    margin-right: 0; /* Remove margin for last item */
}

.nav-links a {
    color: white; /* Color for links */
    text-decoration: none; /* Remove underline from links */
}

.nav-links a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}

/* Styles for authentication buttons */
.auth-buttons {
    display: flex; /* Display buttons in a row */
}

.auth-buttons .btn {
    color: white;
    background-color: #611103; /* Button background color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px; /* Space between buttons */
}

.auth-buttons .btn:hover {
    background-color: #200602; /* Darker shade on hover */
}

/* Additional styles to prevent overflow and ensure proper alignment */
@media (max-width: 768px) { 
   .navbar {
       flex-direction: column; /* Stack items vertically on smaller screens */
       align-items: flex-start; /* Align items to the start on small screens */
   }

   .nav-links {
       justify-content: flex-start; /* Align nav links to the start on small screens */
       width: 100%; /* Full width for nav links on small screens */
   }

   .auth-buttons {
       justify-content: flex-end; /* Align buttons to the end on small screens */
       width: 100%; /* Full width for auth buttons on small screens */
       margin-top: 10px; /* Add some space above buttons if stacked vertically */
   }
}